<main>
  <section class="section">
    <div class="container">
      <div class="row no-gutters-lg">
        <div class="col-12">
          <h2 class="section-title">Latest News</h2>
        </div>
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="row"> 
            <% if @category.nil? && @latest_news.present? %>
              <div class="col-12 mb-4">
                <article class="card article-card">
                  <a href="/news_detail">
                    <div class="card-image">
                      <div class="post-info"> <span class="text-uppercase">04 Jun 2021</span>
                        <span class="text-uppercase">3 minutes read</span>
                      </div>
                      <%= image_tag (@latest_news.image.url), loading: "lazy", decoding: "async", alt: "Post Thumbnail", class: "w-100" %>
                    </div>
                  </a>
                  <div class="card-body px-0 pb-1">
                    <ul class="post-meta mb-2">
                      <li> 
                        <% if @latest_news.category.present? %>
                          <a href="<%= root_path(category_id: @latest_news.category.id) %>"><%= @latest_news.category.name %></a>
                        <% end %>
                      </li>
                    </ul>
                    <h2 class="h1"><a class="post-title" href="article.html"><%= @latest_news.title %></a></h2>
                    <p class="card-text"><%= truncate(@latest_news.body, length: 100) %></p>
                    <div class="content"> <a class="read-more-btn" href="article.html">Read Full Article</a>
                    </div>
                  </div>
                </article>
              </div>
            <% elsif @category.nil? %>
              <div class="no-news-notification">
                  <p>Belum ada postingan berita paling terbaru.</p>
              </div>
            <% end %>
            <% if @news.any? %>
              <% @news.each do |news| %>
                <div class="col-md-6 mb-4">
                  <article class="card article-card article-card-sm h-100">
                    <a href="article.html">
                      <div class="card-image">
                        <div class="post-info"> <span class="text-uppercase">03 Jun 2021</span>
                          <span class="text-uppercase">2 minutes read</span>
                        </div>
                        <%= image_tag (news.image.url), loading: "lazy", decoding: "async", alt: "Post Thumbnail", class: "w-100" %>
                      </div>
                    </a>
                    <div class="card-body px-0 pb-0">
                      <ul class="post-meta mb-2">
                        <li> <a href="#!"><%= news.category.name %></a>
                        </li>
                      </ul>
                      <h2><a class="post-title" href="article.html"><%= news.title %></a></h2>
                      <p class="card-text"><%= truncate(news.body, length: 100) %></p>
                      <div class="content"> <a class="read-more-btn" href="article.html">Read Full Article</a>
                      </div>
                    </div>
                  </article>
                </div>
              <% end %>
            <% elsif %>
                <% if @category.present? %>
                  <div class="no-news-notification">
                    <p>Belum ada postingan berita <strong><%= @category.name %></strong>.</p>
                  </div>
                <% else %>
                  <div class="no-news-notification">
                    <p>Belum ada postingan berita.</p>
                  </div>
                <% end %>
            <% else %>
              <p>No news found for "<%= params[:s] %>".</p>
            <% end %>
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <nav class="mt-4">
                    <!-- pagination -->
                    <nav class="mb-md-50">
                      <ul class="pagination justify-content-center">
                        <%= paginate @news, theme: 'twitter-bootstrap-4',
                                            pagination_class: "pagination-sm",
                                            nav_class: "d-inline-b" %>
                      </ul>
                    </nav>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
  <%= render 'wiget' %>
</div>
      </div>
    </div>
  </section>
</main>
